salutation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

tr:hover {
    background: white;
}

td a {
    text-decoration: none;
    color: black;
    display: block;
}

th a {
    text-decoration: none;
    color: black;
    display: block;
}

td a:hover {
    text-decoration: none;
    color: black;
}

th a:hover {
    text-decoration: none;
    color: black;
}

.card h6 {
    margin-left: 4%;
}

.col-2 {
    margin-top: -1px;
}

#workerForm, .authorForm, .exhibitForm, .hallForm, .excursionForm {
    margin-top: 10px;
}

#postForm {
    margin-top: 25px;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

#postForm input:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%);
}

/* Show green borders when valid */
#postForm input:valid {
    border-color: hsl(120, 76%, 50%);
}

#workerForm input:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%);
}

/* Show green borders when valid */
#workerForm input:valid {
    border-color: hsl(120, 76%, 50%);
}

#workerFormUpdate input:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%);
}

/* Show green borders when valid */
#workerFormUpdate input:valid {
    border-color: hsl(120, 76%, 50%);
}

#workerExhibits input:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%);
}

/* Show green borders when valid */
#workerExhibits input:valid {
    border-color: hsl(120, 76%, 50%);
}

.authorForm input:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%);
}

.exhibitForm input:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%);
}

.hall-Form input:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%);
}

.excursionForm input:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%);
}

.authorForm input:valid {
    border-color: hsl(120, 76%, 50%);
}

.exhibitForm input:valid {
    border-color: hsl(120, 76%, 50%);
}


.hall-Form input:valid {
    border-color: hsl(120, 76%, 50%);
}

.excursionForm input:valid {
    border-color: hsl(120, 76%, 50%);
}

#openModal {
    display: inline-block;
    cursor: pointer;
    margin: 15px 0;
}

#modal {
    display: none; /* Hidden by default */
    z-index: 1;
    overflow: auto;
    margin-bottom: 20px;
}

#main-text {
    display: block;
    font-size: 1.75em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",
    Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
    margin-left: 27%;
    margin-top: 2%;
}

.firstPage {
    position: relative;
}

.textMainPage{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 19% 43.5%;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome-text{
    text-align: center;
    text-shadow: 2px 2px 2px #C0C0C0;
    font-weight: bold;
}

#text-about{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%
}
