salutation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

tr:hover {
    background: white;
}

td a {
    text-decoration: none;
    color: black;
    display: block;
}

th a {
    text-decoration: none;
    color: black;
    display: block;
}

td a:hover {
    text-decoration: none;
    color: black;
}

th a:hover {
    text-decoration: none;
    color: black;
}

.card h6 {
    margin-left: 4%;
}

.col-2 {
    margin-top: -1px;
}